.serviceContainer{
    width: 20%;
    margin:5%;
}
.serviceContainer .title{
    font-size: 25px;
    font-weight:bold;
}
.serviceContainer .desc{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
}
.serviceContainer .more{
    color: gray;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}
.serviceContainer .more:hover{
    cursor: pointer;
    opacity: 0.8;
}
@media screen and (max-width: 1024px){
    .serviceContainer{
        width: 60%;

    }
}