*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* body{
  background-color: white;
} */
.header{
  background-color: #F7F8FA;
}
.services{
  display: flex;
  justify-content: space-evenly;
}
.divTitles{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
}
.blogsDiv{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.testContainer{
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px){
    .services{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .servicesTitle{
      font-size: 35px;
    }
    .blogsDiv{
      flex-direction: column;
    }
}

