.introContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.introContainer h1{
    font-size: 40px;
    margin-top: 20px;
}
.introContainer img{
    width: 100%;
}
.introContainer button{
    padding: 10px;
    margin: 10px;
}
.introContainer button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.introContainer .btnRed{
    background-color:#FEC4AF ;
    border:#FEC4AF solid 5px ;

}
.introContainer .btnGreen{
    background-color: #B7EDDD;
    border:#B7EDDD solid 5px ;
}
.introContainer .introImg{
    width: 45%;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .introContainer .introImg{
        width: 80%;
    }
}